numpy==2.2.5
pandas
Flask
google-generativeai
python-dotenv
SpeechRecognition
bcrypt
flask-sqlalchemy
opencv-python
markdown2
flask-mail
fpdf
matplotlib
pillow
scikit-learn
moviepy
ffmpeg-python
gunicorn
python-multipart 